.v1 {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
}

*{
    margin: 0%;
}

body {
    font-family: "Open Sans",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #222;
    color: white;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #222;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    .menu.active {
        display: flex;
    }

    .nav-right {
        margin-top: 10px;
    }

    .desktop {
        display: none;
    }
}