.v1 {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
}

*{
    margin: 0%;
}

body {
    font-family: "Open Sans",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #222;
    color: white;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #222;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    .menu.active {
        display: flex;
    }

    .nav-right {
        margin-top: 10px;
    }

    .desktop {
        display: none;
    }
}

.hero {
    min-height: 100vh;
    background: url("./images/logo3.avif")
        bottom/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.glass-card {
    max-width: 700px;
    padding: 40px;
    border-radius: 25px;

    background: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

    color: rgb(238, 236, 236);
    text-align: center;
}

.glass-card h1 {
    font-size: clamp(2.2rem, 5vw, 4rem);
    margin-bottom: 20px;
    font-weight: 700;
}

.glass-card p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}

.hero-buttons .btn {
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
}